/* ------------ CSS PROPERTIES ------------*/
:root {
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
}

/* ------------ CSS RESET ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ UTILITIES ------------ */

/*

BEST PRACTISES

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex.reverse {
    flex-direction: row-reverse;
}

*/

.bkg-lightgray {
    background-color: lightgray;
}

/* NAV */

nav {
    min-height: 100px;
    display: flex;
    background-color: dodgerblue;
    justify-content:center;
    align-items: center;
}

nav div {
    height: 75px;
    margin: var(--space-sm) 0;
}

.logo {
    text-align: left;
    background-color: goldenrod;
    flex-basis: 15%;
}

.nav-links {
    text-align: center;
    background-color: rgb(136, 103, 19);
    flex-basis: 40%;
}

.login {
    text-align: right;
    background-color: rgb(231, 194, 99);
    flex-basis: 15%;
}

/* HEADER */

header {
    background-color: rgba(0, 255, 255, 0.295);
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header section {
    flex-basis: 40%;
    background-color: gold;
    height: 250px;
}

/* MAIN */

main {
    background-color: gray;
}

main > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 750px;
}

.main-container {
    height: 500px;
    flex-basis: 70%;
    background-color: lightgreen;
    display: flex;
    justify-content: flex-start;   
}

section .img {
    flex-basis: 60%;
    height: 100%;
    background-color: burlywood;
}

section .about {
    flex-basis: 40%;
    height: 100%;
    background-color: rgb(207, 128, 23);
}


#about-final {
    height: 1000px;
}

#about-final .main-container {
    height: 750px ;
}

/* FOOTER */ 

footer {
    background-color: rgb(117, 21, 21);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.footer-container {
    height: 200px;
    flex-basis: 70%;
    background-color: rgb(0, 61, 0);
    display: flex;
    
}

#about-company {
    height: 750px;
    background-color: black;
    border-bottom: 1px solid #fff;
}

#social {
    flex-basis: 40%;
    background-color: antiquewhite;
    border: none
}
.navigazione {
    flex-basis: 15%;
    background-color: #fff;
    height: 100%;
    border: 1px solid blue;
}
